.bg-primary-una{
    background-color: #2A3759;
}
.centered-image{
    max-width: 50%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

main{
    flex: 1;
}

.main-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.task-item{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 0.4em;
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0,0,0.45);
}

.modal-content{
    width: 95%;
    max-width: 500px;
    padding: 20px;
    position: relative;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-btn-close{
    position: absolute;
    top: 5px;
    right: 3px;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-title{
    text-align: center;
    font-size: 1-7rem;
}

.modal-transform{
    animation: transform 1s;
}

@keyframes transform {
    from{
        transform: scale(0);
        opacity: 0;
    }to{
        transform: scale(1);
        opacity: 1;
    }
}

.login{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container img {
    width: 200px;
}
.login-container h2 {
    color: white;
    margin: 20px 0;
}
.form-control, span, #add-task-button {
    margin: 10px 0;
}
.btn-custom {
    background-color: #2980B9;
    color: white;
    width: 100%;
}
.btn-custom:hover {
    background-color: #1ABC9C;
}
.login-container p {
    color: white;
    margin-top: 20px;
}
